* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #0b0d12;
  color: #ffffff;
}

.app {
  min-height: 100vh;
}

.navbar {
  width: 100%;
  max-width: 1200px;
  margin: auto;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 24px 30px;
}

.logo {
  font-size: 26px;
  font-weight: 700;
}

.navLinks {
  display: flex;
  gap: 35px;
}

.navLinks a {
  color: #a9afbd;
  text-decoration: none;
  font-size: 15px;
  transition: 0.3s;
}

.navLinks a:hover {
  color: white;
}

.navButton {
  padding: 11px 20px;
  border: none;
  border-radius: 8px;

  background: white;
  color: #111318;

  font-weight: 600;
  cursor: pointer;

  transition: 0.3s;
}

.navButton:hover {
  transform: translateY(-2px);
}

.hero {
  min-height: 620px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  text-align: center;
  padding: 80px 20px;
}

.heroBadge {
  color: #a9afbd;
  border: 1px solid #292d36;
  background: #11141a;

  padding: 8px 14px;
  border-radius: 30px;

  font-size: 13px;
  margin-bottom: 28px;
}

.hero h1 {
  font-size: 72px;
  line-height: 1.05;
  letter-spacing: -3px;

  max-width: 850px;
}

.hero h1 span {
  color: #858b98;
}

.hero p {
  max-width: 620px;

  margin-top: 25px;

  color: #9ba1ad;
  font-size: 18px;
  line-height: 1.7;
}

.heroButton {
  margin-top: 35px;

  padding: 15px 26px;

  border: none;
  border-radius: 9px;

  background: white;
  color: #101217;

  font-size: 15px;
  font-weight: 700;

  cursor: pointer;
  transition: 0.25s;
}

.heroButton:hover {
  transform: translateY(-3px);

}

.productSection {
  max-width: 1200px;
  margin: auto;
  padding: 110px 30px;
}

.sectionHeading {
  text-align: center;
  max-width: 650px;
  margin: 0 auto 60px;
}

.sectionHeading span {
  font-size: 12px;
  letter-spacing: 2px;
  color: #777e8c;
}

.sectionHeading h2 {
  font-size: 42px;
  margin-top: 15px;
  letter-spacing: -1.5px;
}

.sectionHeading p {
  color: #9299a6;
  line-height: 1.7;
  margin-top: 18px;
}

/* DASHBOARD */

.dashboard {
  display: flex;

  min-height: 520px;

  background: #101319;

  border: 1px solid #272b34;
  border-radius: 16px;

  overflow: hidden;

  box-shadow: 0 30px 80px rgba(0, 0, 0, 0.4);

  transition: transform 0.3s ease, border-color 0.3s ease;
}

.dashboard:hover {
  transform: translateY(-5px);
  border-color: #444b59;
}

/* SIDEBAR */

.sidebar {
  width: 210px;

  background: #0d1015;

  border-right: 1px solid #252932;

  padding: 25px 18px;

  display: flex;
  flex-direction: column;
}

.sidebarLogo {
  width: 38px;
  height: 38px;

  background: white;
  color: black;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 9px;

  font-weight: bold;
  margin-bottom: 40px;
}

.sidebarMenu {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.menuItem {
  color: #838a97;

  padding: 11px 12px;

  border-radius: 7px;

  font-size: 14px;
}

.menuItem.active {
  background: #191d25;
  color: white;
}

.sidebarBottom {
  margin-top: auto;
}

/* DASHBOARD CONTENT */

.dashboardContent {
  flex: 1;
  padding: 35px;
}

.dashboardHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 35px;
}

.smallText {
  font-size: 10px;
  letter-spacing: 2px;

  color: #656c79;

  margin-bottom: 8px;
}

.dashboardHeader h3 {
  font-size: 24px;
}

.newProject {
  border: none;

  background: white;
  color: black;

  padding: 10px 16px;

  border-radius: 7px;

  font-weight: 600;
  cursor: pointer;
}

/* STATS */

.stats {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  gap: 15px;

  margin-bottom: 25px;
}

.statCard {
  background: #151920;

  border: 1px solid #292e38;

  border-radius: 10px;

  padding: 22px;
}

.statCard p {
  color: #858c98;
  font-size: 13px;
}

.statCard h3 {
  font-size: 32px;
  margin: 13px 0;
}

.statCard span {
  color: #626976;
  font-size: 12px;
}

/* PROJECT LIST */

.projects {
  background: #151920;

  border: 1px solid #292e38;

  border-radius: 10px;

  padding: 22px;
}

.projectsHeader {
  display: flex;
  justify-content: space-between;

  margin-bottom: 10px;
}

.projectsHeader span {
  color: #858c98;
  font-size: 13px;
}

.projectRow {
  display: flex;

  justify-content: space-between;
  align-items: center;

  padding: 17px 0;

  border-bottom: 1px solid #252a33;
}

.projectRow:last-child {
  border-bottom: none;
}

.projectRow strong {
  font-size: 14px;
}

.projectRow p {
  color: #686f7c;

  font-size: 12px;

  margin-top: 5px;
}

.status {
  font-size: 11px;

  padding: 6px 10px;

  border-radius: 20px;

  background: #20252e;

  color: #aeb4bf;
}

.featuresSection {
  max-width: 1200px;
  margin: auto;
  padding: 110px 30px;
}

.featureGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 18px;
}

.featureCard {
  min-height: 260px;

  background: #101319;
  border: 1px solid #272b34;
  border-radius: 14px;

  padding: 30px;

  transition: transform 0.3s ease, border-color 0.3s ease;
}

.featureCard:hover {
  transform: translateY(-6px);
  border-color: #4a515e;
}

.featureIcon {
  width: 45px;
  height: 45px;

  display: flex;
  justify-content: center;
  align-items: center;

  background: #191d25;
  border: 1px solid #303540;
  border-radius: 10px;

  color: #aeb4c0;
  font-size: 12px;

  margin-bottom: 50px;
}

.featureCard h3 {
  font-size: 20px;
  margin-bottom: 13px;
}

.featureCard p {
  color: #858c98;
  font-size: 14px;
  line-height: 1.7;
}


.workflowSection {
  max-width: 1200px;
  margin: auto;
  padding: 110px 30px;
}

.workflowGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  margin-top: 60px;
}

.workflowStep {
  border-top: 1px solid #303640;
  padding-top: 25px;
}

.workflowStep span {
  color: #6f7683;
  font-size: 12px;
  letter-spacing: 2px;
}

.workflowStep h3 {
  margin-top: 25px;
  margin-bottom: 15px;
  font-size: 21px;
}

.workflowStep p {
  color: #858c98;
  line-height: 1.7;
  font-size: 14px;
}

/* FINAL CTA */

.finalCta {
  max-width: 1000px;
  margin: 80px auto;
  padding: 100px 30px;

  text-align: center;

  border: 1px solid #292e37;
  border-radius: 18px;

  background: #101319;
}

.finalCta h2 {
  font-size: 42px;
  letter-spacing: -1.5px;
}

.finalCta p {
  color: #8d94a1;
  margin-top: 18px;
}

/* FOOTER */

.footer {
  max-width: 1200px;
  margin: auto;

  padding: 35px 30px;

  border-top: 1px solid #242830;

  display: flex;
  justify-content: space-between;
  align-items: center;

  color: #747b87;
  font-size: 13px;
}

.footerLogo {
  color: white;
  font-size: 20px;
  font-weight: bold;
}

@media (max-width: 768px) {

  .navbar {
    padding: 20px;
  }

  .navLinks {
    display: none;
  }

  .navButton {
    padding: 9px 14px;
    font-size: 13px;
  }

  .hero {
    min-height: 560px;
    padding: 70px 20px;
  }

  .hero h1 {
    font-size: 46px;
    letter-spacing: -2px;
  }

  .hero p {
    font-size: 16px;
  }

  .productSection,
  .featuresSection,
  .workflowSection {
    padding: 80px 20px;
  }

  .sectionHeading h2 {
    font-size: 34px;
  }

  .dashboard {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    border-right: none;
    border-bottom: 1px solid #252932;
  }

  .sidebarMenu {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .sidebarBottom {
    margin-top: 15px;
  }

  .dashboardContent {
    padding: 22px;
  }

  .dashboardHeader {
    flex-direction: column;
    align-items: flex-start;
    gap: 18px;
  }

  .stats {
    grid-template-columns: 1fr;
  }

  .featureGrid {
    grid-template-columns: 1fr;
  }

  .workflowGrid {
    grid-template-columns: 1fr;
  }

  .finalCta {
    margin: 50px 20px;
    padding: 70px 20px;
  }

  .finalCta h2 {
    font-size: 34px;
  }

  .footer {
    flex-direction: column;
    gap: 12px;
    text-align: center;
  }
}